@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

h1, p, input, button, pre{
    font-family: "Raleway", sans-serif;
}

#form, .items{
    background-color: rgb(20, 20, 20);
}

pre{
  white-space: pre-wrap;      
  word-wrap: break-word;       
  overflow-wrap: break-word;   
}

img{
    object-fit: contain;
}
